@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;900&display=swap');
@import url('./vars.css');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--main-light-gray);
}

h1 {
    font-family: 'Inter', sans-serif;
}

li a {
    text-decoration: none;
}

li {
    list-style: none;
}


footer a p {
    color: #000;
}

/* //********************************************MEDIA QUERIES */
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    footer {
        display: block;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    footer {
        display: block;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    footer {
        display: flex;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    footer .footer-direction {
        display: flex;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    footer .footer-direction {
        display: flex;

    }
}



/* //**************************************** ANIMATION HEADER */

@keyframes iteration {
    from {
        left: 0;
        background-color: rgb(243, 237, 237);
        box-shadow: 10px 10px 100px 200px rgb(243, 237, 237);
    }

    to {
        left: 1200px;
        background-color: rgb(251, 251, 246);
        box-shadow: 10px 10px 100px 200px rgb(243, 237, 237);
    }


}


#result {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 500px;
    border: 1px dashed #ccc;
    background-color: rgba(7, 23, 117, 0.2);
}

/* Boite à animer */
#animated_box {
    width: 100px;
    height: 100px;
    background-color: white;
    /* obligatoires pour pouvoir bouger la div : */
    position: absolute;
    left: 0px;
    top: 150px;
    /* Ajoutez les options d'animation de la div ici */
    animation-name: iteration;
    animation-duration: 20s;
    /* animation-iteration-count:infinite;  */
    animation-iteration-count: 4;
    animation-direction: normal;
    border-radius: 50%
}