:root {
  --main-cyan: rgb(213, 249, 249);
  --main-blue: rgb(67, 94, 254);
  --main-move: rgb(90, 27, 192);
  --main-black: rgb(17, 1, 1);
  --main-white: rgb(255, 254, 254);
  --main-gray: rgb(181, 178, 178);
  --main-light-gray: rgb(243, 243, 243);
}
