$cyan: rgba(213, 249, 249, 1);
$blue: rgba(67, 94, 254, 1);
$move: rgba(90, 27, 192, 1);
$black: rgba(17, 1, 1, 1);
$white: rgba(255, 254, 254, 1);
$gray: rgba(181, 178, 178, 1);
$light-gray: rgba(239, 239, 239, 1);

#header_bottom_produit {
    background-color: $light-gray
}